{% extends "base.html" %}
	
	
{% block title %} Статьи, посты {% endblock %} 

{% block content %} 
	
    <div class="articles">

           <h1> Статьи, посты </h1>
            <!-- Статьи, посты -->
                {% for article in list_articles %}
                    {{article.create_date}} <a href="{% url 'edit_page' %}"> Редактирование, удаление статьи</a>
					<br>
					{{article.name}}
					
					{{article.text|truncatewords:70}} <a href="/articles/{{article.id}}"> Перейти к статье </a> <br>
					<br>
                {% endfor %}

        
    </div>
{% endblock %} 
	