
<div class="sidebar form">
{% load movie_tag %}
<div class="">
    <h3 class="">Поиск фильма</h3>
    <form action="{% url 'search' %}" method="get" class="">
        <input type="search" placeholder="Введите название..." name="q" class="" required="">
        <button type="submit" class=""> Найти
            <span class="" aria-hidden="true"></span>
        </button>
    </form>
</div>
<!--preference -->
<!-- <form action="{% url 'json_filter' %}" method="get" name="filter"> -->
<form action="{% url 'filter' %}" method="get" name="filter">
	<div class="">
		<h3 class="">Жанры</h3>
		<ul class="">
			{% for genre in view.get_genres %}
					<li class="">
						<input type="checkbox" class="checked" name="genre" value="{{ genre.id }}">
						<span class="">{{ genre.name }}</span>
					</li>
				{% endfor %}
		</ul>
	</div>
<!-- // preference -->
<!-- discounts -->
	<div class="">
		<h3 class="">Год</h3>
		<ul class="">
			 {% for movie in view.get_years %}
					<li class="">
						<input type="checkbox" class="checked" name="year" value="{{ movie.year }}">
						<span class="">{{ movie.year }}</span>
					</li>
				{% endfor %}
		</ul>
	</div>
	<button type="submit">Найти</button>
</form>
<!-- //discounts -->
<!-- reviews -->
<div class="">
    <h3 class="">Рейтинг</h3>
    <ul class="">
        <li>
            <a href="#">
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="editContent">5.0</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star-o" aria-hidden="true"></span>
                <span class="editContent">4.0</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star-half-o" aria-hidden="true"></span>
                <span class="fa fa-star-o" aria-hidden="true"></span>
                <span class="editContent">3.5</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star-o" aria-hidden="true"></span>
                <span class="fa fa-star-o" aria-hidden="true"></span>
                <span class="editContent">3.0</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star-half-o" aria-hidden="true"></span>
                <span class="fa fa-star-o" aria-hidden="true"></span>
                <span class="fa fa-star-o" aria-hidden="true"></span>
                <span class="editContent">2.5</span>
            </a>
        </li>
    </ul>
</div>

</div>

{% get_last_movies count=3 %}