html {
	background: #ffffff url("img/background3.jpg") no-repeat top center;
	background-color: rgba(34, 34, 34);
}

/* title { */
	/* color: #ffffff; */
	/* font-family: "Arial", sans-serif; */
/* } */

body {
	padding: 0 30px;
	font-size: 16px;
	line-height: 26px;
	font-family: "Arial", sans-serif;
	color: #222222;
}

section {
	margin-bottom: 30px;
	padding: 20px;
	background-color: rgba(89, 87, 92, 0.5);
	border: 5px solid #2d508f;
	color: #ffffff;
}

section:hover {
	background-color: rgba(89, 87, 92, 0.8);
	color: #ffffff;
	border: 5px solid #857a7a;
	box-shadow: 0px 0px 28px 4px #7b6f6f;
}

tbody {
	color: #ffffff;
}

table {
	width: 100%;
}

th, td  {
	/* margin: 4 px 0 4 px 0;  */
	text-align: center;
	border: 1px solid;
	
	color: #ffffff;
	
}

.articles {
	padding: 20px;
	background-color: rgba(89, 87, 92, 0.8);
	color: #ffffff;
	border: 5px solid #857a7a;
}

.layout:after {
	display: block;
	content: " ";
	clear: both;
}

.layout {
	
	display: block;
}
	
.content {
	width: 67%;
	float: left;
}

.sidebar {
	width: 25%;
	float: right;	
}

/*.background {
  
  background: #ffffff url("img/background.jpg") no-repeat top center ;
  opacity: 0.6;
}
*/

/*body: :after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("img/background.jpg"); 
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
}*/

h1 {
  font-size: 24px;
  line-height: normal;
  color: #ffffff;
}

h2 {
  font-size: 20px;
  line-height: normal;
}

a {
  color: #0099ef;
  text-decoration: underline;
}

.avatar {
  border-radius: 10px;
}

nav {
	margin-bottom: 30px;
	padding: 20px;
	background-color: rgba(33, 35, 87, 0.3);
	border: 5px solid #2d508f;
	color: #ffffff;
}

nav:hover {
	background-color: rgba(89, 87, 92, 0.5);
	color: #ffffff;
	border: 5px solid #857a7a;
	box-shadow: 0px 0px 28px 4px #7b6f6f;
}

nav a {
  color: #ffffff;
}

aside {
	margin-bottom: 30px;
	padding: 20px;
	background-color: rgba(33, 35, 87, 0.3);
	border: 5px solid #2d508f;
	color: #ffffff;
}

aside:hover {
	background-color: rgba(89, 87, 92, 0.5);
	color: #ffffff;
	border: 5px solid #857a7a;
	box-shadow: 0px 0px 28px 4px #7b6f6f;
}

ul {
  list-style: none;
  padding-left: 0;
}

p {
	color: #ffffff;
}

footer {
  margin-top: 30px;
  padding: 20px;
  color: #ffffff;
}
