html {
	background: #ffffff url("img/background3.jpg") no-repeat top center;
	background-color: rgba(34, 34, 34);
	background-size: 2050px;
}

body {
	padding: 0 2%;
	font-size: 14px;
	line-height: 24px;
	font-family: "Arial", sans-serif;
	color: #222222;
}

section {
	margin-bottom: 30px;
	padding: 2%;
	background-color: rgba(89, 87, 92, 0.5);
	border: 4px solid #2d508f;
	color: #ffffff;
}

section:hover {
	background-color: rgba(89, 87, 92, 0.8);
	color: #ffffff;
	border: 4px solid #857a7a;
	box-shadow: 0px 0px 28px 4px #7b6f6f;
}

tbody {
	color: #ffffff;
}

table {
	width: 100%;
}

th, td  {
	/* margin: 4 px 0 4 px 0;  */
	text-align: center;
	border: 1px solid;
	color: #ffffff;
	height: 8px;
}

.form_title { 
         text-align: center;  /* Текст по центру */
         margin: 0 0 32px 0;  /* Внешний отступ на всех четырех сторонах элемента */ 
         font-weight: normal; /* Насыщенность шрифта, убираем жирность. */
 }
 
.form_button {
         padding: 10px 20px;
         border: none;  
         border-radius: 5px;  
         font-family: sans-serif;
         letter-spacing: 1px;
         font-size: 16xp;
         color :#fff ;  
         background-color: #0071f0;  
         outline: none;   /* Внешней границы элемента */ 
         cursor: pointer;  /* Тип курсора при наведение */
         transition: 0.3s;   /* transition позволяет делать плавные переходы между двумя значениями какого-либо CSS свойства */
 }
 
.form {
	width: 30%; 
	margin: 2%; 	
    padding: 2%;  
    border-radius: 10px;  
    border: 2px solid #857a7a;  
    font-family: sans-serif;  
    letter-spacing: 1px;  /* Расстояние между буквами */
	box-shadow: 0px 0px 15px 1px #7b6f6f;
	background-color: rgba(89, 87, 92, 0.4)
 }

.form:hover { 
	box-shadow: 0px 0px 60px 1px #7b6f6f; /* Тень элемента. 0 - смещение Х, 4 - смещение Y, 16 - степень размытия, #ccc - цвет. */
}

.articles {
	padding: 20px;
	background-color: rgba(89, 87, 92, 0.8);
	color: #ffffff;
	border: 4px solid #857a7a;
}

.layout:after {
	display: block;
	content: " ";
	clear: both;
}

.layout {
	/* width: 100%; */
	display: block;
}
	
.content {
	width: 64%;
	float: left;
}

.sidebar {
	width: 27%;
	float: right;
	/* text-align: center; */
}

/*.background {
  
  background: #ffffff url("img/background.jpg") no-repeat top center ;
  opacity: 0.6;
}
*/

/*body: :after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("img/background.jpg"); 
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
}*/

h1 {
  font-size: 24px;
  line-height: normal;
  color: #ffffff;
}

h2 {
  font-size: 20px;
  line-height: normal;
}

a {
  color: #0099ef;
  text-decoration: underline;
}

.avatar {
	max-width: 100px;
	border-radius: 10px;
}

nav {
	margin-bottom: 30px;
	padding: 20px;
	background-color: rgba(33, 35, 87, 0.3);
	border: 4px solid #2d508f;
	color: #ffffff;
}

nav:hover {
	background-color: rgba(89, 87, 92, 0.5);
	color: #ffffff;
	border: 4px solid #857a7a;
	box-shadow: 0px 0px 28px 4px #7b6f6f;
}

nav a {
  color: #ffffff;
}

aside {
	margin-bottom: 30px;
	padding: 20px;
	background-color: rgba(33, 35, 87, 0.3);
	border: 4px solid #2d508f;
	color: #ffffff;
}

aside:hover {
	background-color: rgba(89, 87, 92, 0.5);
	color: #ffffff;
	border: 4px solid #857a7a;
	box-shadow: 0px 0px 28px 4px #7b6f6f;
}

ul {
  list-style: none;
  padding-left: 0;
}

p {
	color: #ffffff;
}

footer {
  margin-top: 30px;
  padding: 20px;
  color: #ffffff;
}

.poster {
	max-width: 180px;
	
}

.big_poster {
	max-width: 440px;
	
}

.small_cadrs {
	max-width: 150px
	
}