{% extends "base.html" %}
	
	{% include 'include/header.html' %}
	
{% block content %} 
	
    <div class="articles">

           <h1> Фильмы про меня </h1>
			<div class="left-ads-display col-lg-9">
            <div class="row">
			<ul>
			{% for movie in movie_list %}
                            
							<li class="list">
							<div class="col-md-4 product-men">
                                <div class="product-shoe-info editContent text-center mt-lg-4">
                                    <div class="men-thumb-item">
                                        <img src="{{ movie.poster.url }}" class="poster" alt="">
                                    </div>
                                    <div class="item-info-product">
                                        <h4 class="">
                                            <a href="{{ movie.get_absolute_url}}" class="editContent">
                                                {{ movie.title }}
                                            </a>
                                        </h4>

                                        <div class="product_price">
                                            <div class="grid-price">
                                                <span class="money editContent">{{ movie.tagline }}</span>
                                            </div>
                                        </div>
                                        <ul class="stars">
                                            <li><a href="#"><span class="fa fa-star"
                                                                  aria-hidden="true"></span></a>
                                            </li>
                                            <li><a href="#"><span class=""
                                                                  aria-hidden="true"></span></a>
                                            </li>
                                            <li><a href="#"><span class=""
                                                                  aria-hidden="true"></span></a>
                                            </li>
                                            <li><a href="#"><span class=""
                                                                  aria-hidden="true"></span></a>
                                            </li>
                                            <li><a href="#"><span class=""
                                                                  aria-hidden="true"></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
							</li>
							
                        {% endfor %}
						
			</ul>
			</div>
						<div>
						{% include 'include/pagination.html' %}
						</div>
			</div>
    </div>
	
	{% include 'include/sidebar.html' %}
	
{% endblock %} 
	