<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>Охранное предприятие Бетмена</title>
		<meta charset="utf-8 "name="keywords" content="Удары, Наказание, Возмездие, блог"> 
		<meta name="description" content="Блог о методах работы охранного предприятия Бетмена">
		{% load static %}
		<link rel="stylesheet" href="{% static 'CSS/batman.CSS'%}"">
		<!--<link rel="stylesheet" href="batman.CSS">--> 
	<body ><!--class="background"--> 
		<header>
			<h1>
			Охранное предприятие Бетмена
			</h1>
		</header>
	
	<body class="container">
	
	<main>
	<nav>
        Навигация
	</nav> 
	<div class="layout">	
		<section class="content">
			<p>
				Всем привет! Добро пожаловать на мой первый сайт. Ещё недавно я понятия не имел, кто такой верстальщик, 
				а теперь я нашёл интерактивные курсы по HTML и CSS и поставил перед собой цель — стать им. У меня даже появился инструктор — Superman,
				который не позволит мне расслабиться и будет следить за моими успехами.
				Всем привет! Добро пожаловать на мой первый сайт. Ещё недавно я понятия не имел, кто такой верстальщик, 
				а теперь я нашёл интерактивные курсы по HTML и CSS и поставил перед собой цель — стать им. У меня даже появился инструктор — Superman,
				который не позволит мне расслабиться и будет следить за моими успехами.
				Всем привет! Добро пожаловать на мой первый сайт. Ещё недавно я понятия не имел, кто такой верстальщик, 
				а теперь я нашёл интерактивные курсы по HTML и CSS и поставил перед собой цель — стать им. У меня даже появился инструктор — Superman,
				который не позволит мне расслабиться и будет следить за моими успехами.
			</p>
			<p>
				Моё первое задание — вести дневник и честно писать обо всех своих свершениях.
			</p>
		</section>
		<aside class="sidebar" id="colRight">
			<h4>Раздел про навыки</h4>
				<ul class=" ">
					<li>- Бью очень эффективно и убедительно</li>
					<li>- Враги боятся</li>
					<li>- Я тоже иногда сам себя боюсь</li>
				</ul>
		
		</aside>
	</div>	
		
    <div> 
        {% block content %}
            
			
        {% endblock %}
    </div>
	</main>
		
    <footer>
		Все права принадлежит Брюсу Уэйну и Уэйн Энтерпрайз (Wayne Enterprise) 
    </footer>
	</body>
</html>
		