<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>Охранное предприятие Бетмена</title>
		<meta charset="utf-8 "name="keywords" content="Удары, Наказание, Возмездие, блог"> 
		<meta name="description" content="Блог о методах работы охранного предприятия Бетмена">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1.0">
		{% load static %}
		<link rel="stylesheet" href="{% static 'CSS/batman.CSS'%}"">
		<!--<link rel="stylesheet" href="batman.CSS">--> 
	
	<body class="container"><!--class="background"--> 
		<header>
			<h1>
			Охранное предприятие Бетмена
			</h1>
		</header>
	
	<nav>
        Навигация
	</nav> 
	
	<div class="layout">	
		{% url 'homepage' as url_homepage %} 
		{% if url_homepage == request.path %}
		<section class="content">
			
			<p>
				Всем привет! Добро пожаловать на мой первый сайт. Ещё недавно я понятия не имел, кто такой верстальщик, 
				а теперь я нашёл интерактивные курсы по HTML и CSS и поставил перед собой цель — стать им. У меня даже появился инструктор — Superman,
				который не позволит мне расслабиться и будет следить за моими успехами.
				Всем привет! Добро пожаловать на мой первый сайт. Ещё недавно я понятия не имел, кто такой верстальщик, 
				а теперь я нашёл интерактивные курсы по HTML и CSS и поставил перед собой цель — стать им. У меня даже появился инструктор — Superman,
				который не позволит мне расслабиться и будет следить за моими успехами.
				Всем привет! Добро пожаловать на мой первый сайт. Ещё недавно я понятия не имел, кто такой верстальщик, 
				а теперь я нашёл интерактивные курсы по HTML и CSS и поставил перед собой цель — стать им. У меня даже появился инструктор — Superman,
				который не позволит мне расслабиться и будет следить за моими успехами.
			</p>
			<p>
				Моё первое задание — вести дневник и честно писать обо всех своих свершениях. А Вы кстати тоже здесь можете написать какие-то посты о себе либо статьи на любую тему, которую Вам заблагорассудиться поднять
			</p>
			
		</section>
		{%endif%}
		<aside class="sidebar" id="colRight">
			<h4>Раздел обо мне</h4>
				<ul class=" ">
					<li>- Бью очень эффективно и убедительно</li>
					<li>- Враги боятся</li>
					<li>- Я тоже иногда сам себя боюсь</li>
					<li>- Люблю и ненавижу женщину-кошку</li>
					<li>- Когда я в городе, бандиты плачут</li>
				</ul>
		
		</aside>
	</div>	
	            {% block movie %}
				{% endblock movie %}
	<main>
	
        {% block content %}
            
			
        {% endblock %}
    
	</main>
		
    <footer>
		Все права принадлежит Брюсу Уэйну и Уэйн Энтерпрайз (Wayne Enterprise) 
    </footer>
	</body>
</html>
		